Q1.
ANSWER--

In [1]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

print("Sorted list based on integer value:")
for item in sorted_data:
    print(item)

Sorted list based on integer value:
('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2--
ANSWER--

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = list(map(lambda x: x**2, numbers))

print("Squares of numbers:")
print(squares)

Q3--
ANSWER--

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

strings_tuple = tuple(map(lambda x: str(x), numbers))

print("Converted tuple of strings:")
print(strings_tuple)

Q4--
ANSWER--

In [2]:
from functools import reduce
import operator

# Create a list containing numbers from 1 to 25
numbers = list(range(1, 26))

# Use reduce() function to compute the product of the numbers
product = reduce(operator.mul, numbers)

print("Product of the numbers from 1 to 25:", product)

Product of the numbers from 1 to 25: 15511210043330985984000000

Q5--
ANSWER--

In [ ]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

divisible_by_2_and_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

print("Numbers divisible by 2 and 3:")
print(divisible_by_2_and_3)

Q6--
ANSWER--

strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], strings))

print("Palindromes in the list:")
print(palindromes)